@import './fonts';

body, html {
  background-color: blanchedalmond;
  font-size: 100%;
}

.App {
  text-align: center;
  color: palevioletred;
  text-shadow: 0 2px 0 peachpuff;
}

h1 {
  font-family: 'Modak';
  font-size: 4rem;
  font-weight: 100;
}